a.multi_select_delete {
    cursor: pointer;
}
.hidden {
    display: none;
}


.action_item textarea,
.project textarea {
    width: 25em;
    height: 1.2em;
}

.nav ul > li {
    display: inline-block;
    padding: 0.5em;
}

.action_item[data-pk],
.project[data-pk],
.tag[data-pk],
.note[data-pk] {
    max-width: 30em;
}
.action_item[data-pk] > select[data-tabs],
.project[data-pk] > select[data-tabs],
.tag[data-pk] > select[data-tabs],
.note[data-pk] > select[data-tabs] {
    float: right;
}

/* hack to ensure that the view/edit dropdowns in tags don't overflow their box */
.tag[data-pk] {
    min-height: 2em;
}


.tag-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tag-filter > * {
    margin-left: 1em;
    flex: 0 0 auto;
}
.tag-filter-hidden {
    display: none;
}


.meta span {
    border-radius: 0.4em;
    font-size: 80%;
}

.meta span[data-time_status='overdue'] {
    border: thin red solid;
}
.meta span[data-time_status='today'] {
    border: thin grey solid;
}

.meta span[data-lifecycle='active'] {
    border: thin green solid;
}
.meta span[data-lifecycle='waiting'] {
    color: grey;
}
.meta span[data-lifecycle='queued'] {
}

.meta span.tag {
    background-color: #DDD;
    border-radius: 3px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-left: 0.125em
}

.quickie {
    text-align: right;
}
.quickie form {
    display: inline;
}
.quickie button {
    font-size: 10pt;
    height: 16pt;
    vertical-align: middle;
    padding: 2px 6px;
    border: thin solid lightgrey;
    border-radius: 3px;
    margin: 3px;
}
