.action_item textarea,
.project textarea {
    width: 25em;
    height: 1.2em;
}
.hidden {
    display: none;
}

.nav ul > li {
    display: inline-block;
    padding: 0.5em;
}

.action_item[data-pk],
.project[data-pk] {
    max-width: 30em;
}
.action_item[data-pk] > select[data-tabs],
.project[data-pk] > select[data-tabs] {
    float: right;
}


.meta span {
    border-radius: 0.4em;
    font-size: 80%;
}

.meta span[data-time_status='overdue'] {
    border: thin red solid;
}
.meta span[data-time_status='today'] {
    border: thin grey solid;
}

.meta span[data-action_status='active'] {
    border: thin green solid;
}
.meta span[data-action_status='waiting'] {
    color: grey;
}
.meta span[data-action_status='queued'] {
}